:root{
  --background-color:#f0f6fe;
  --maintext-color:#ed2f91;
  --secondarytext-color:#f05b9a;
  --tertiarytext-color:#717171;
}

body::before {
    display: block;
    content: '';
    height: 60px;
}

.navbar{
  background-color: var(--background-color);
}
.nav-link{
  color: var(--maintext-color);
}

.navbar-dark{
  --bs-navbar-color:var(--maintext-color);
  --bs-navbar-hover-color:var(--secondarytext-color);
  --bs-navbar-active-color:var(--maintext-color);
  --bs-navbar-brand-color:var(--maintext-color);
  --bs-navbar-brand-hover-color:var(--maintext-color);
  --bs-navbar-toggler-border-color:var(--maintext-color);
}

.nav-tabs {
  --bs-nav-tabs-border-color: var(--maintext-color);
  --bs-nav-tabs-link-hover-border-color: var(--maintext-color) var(--background-color) var(--maintext-color);
}

.fw-bolder {
  color: var(--maintext-color);
}

.welcome-container.display-1{
  color: var(--tertiarytext-color);
}

.details-text{
  color: var(--tertiarytext-color);
}

.navbar-toggler-icon {
  background-color: var(--maintext-color);
}

.h5, h5 ,h2 {
  color: var(--maintext-color);
}

.list-group {
  --bs-list-group-color: var(--tertiarytext-color);
}

.card {
  transition: transform 0.2s ease-out;
}

.card.card-body-one{
  --bs-card-bg: var(--secondarytext-color);
}

.card.card-body-two{
  --bs-card-bg: var(--tertiarytext-color);
}

.card.card-body-three{
  --bs-card-bg: var(--secondarytext-color);
}

.imagecard{
  position: relative;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #f0f6fe;
  cursor: pointer;
  margin-right: 30px;
}

.imagecard:hover {
  height: 320px;
}

.imgbox {
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-80px);
  z-index: 99;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
}

.image-box-content {
  padding: 10px 20px;
  text-align: center;
  transform: translateY(-450px);
  opacity: 0;
  transition: 0.3s;
}

.imagecard:hover > .image-box-content {
  opacity: 1;
  transform: translateY(-80px);
}

.card:hover {
  transform: scale(1.05);
}

.banner-image {
  background-image:url('../images/Caoursoul_3.jpg');
  background-size: 100%;
}

.letusreach-bg {
  background: linear-gradient(-45deg,#ec5252,#6e1a52);
}

.anslogo {
  width: 60px;
  height: 60px;
}

/*
.dropdown-menu ul{
  list-style: none;
  padding: 0;
}

.dropdown-menu.show {
  display: flex;
}

.dropdown-menu li:first-child a {
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  color: rebeccapurple;
}

.dropdown-menu li .dropdown-item {
  color: black;
  font-size: 1em;
  padding: 0.5em 1em;
}

.dropdown-item:hover {
  background-color: whitesmoke;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  padding: 0.7em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}*/

.dropdown-mega .dropdown-menu {
  width: 100%;
}

.dropdown-mega h5{
  padding-bottom: 12px;
  border-bottom: 1px solid rgba(0,0,0,.125);
  text-align: center;
  margin: 0;
}

a.list-group-item{
  border: 0;
  transition: transform 0.2s ease-out;
  text-align: center;
  padding: 12px 0;
}

a.list-group-item:hover{
  background-color:var(--background-color);
  border-bottom: 1px solid  #ed2f91;
  border-top: 1px solid  #ed2f91;
  transform: scale(1.05);
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:90px;
  right:90px;
  background-color:#25d366;
  color:#FFF;
  border-radius:50px;
  text-align:center;
  font-size:30px;
  box-shadow: 2px 2px 4px #999;
  z-index:100;
}
.dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}
  
.my-float{
    margin-top:16px;
  }

@media(min-width: 768px) {
    .contact-input {
        width: 50%;
    }
}

